@import url(./css/auth.css);

@import url(./css/home.css);


.container {
	height: 100%;
}

.container > div {

}

.green {
	color: rgb(76,175,80);
}

.md-sidenav-left {
	height: 100%;
	margin-right: 10px;
}

a {
	text-decoration: none;
}

.navActive {
	background: rgb(76,175,80);
}

/*.md-sidenav-left a {
	color: green;
	text-decoration: none;
}*/