<div id="delete_subject" class="modal-ext">
    <div class="modal-main">
        <!-- Modal content-->
        <div class="content-main">
            <div class="modal-body">
                <h1 class="custom-font"><strong>Confirm that you want to delete Math A?</strong></h1>
                <span>(This action can't be reversed)</span>
            </div>
            <div class="action_btn">
                <md-button type="button" class="md-raised md-primary modal_save" data-dismiss="modal" ng-click="cancel()" style="background: rgb(3, 175, 91);color: rgba(255, 255, 255, 0.87);">Keep</md-button>
                <md-button type="button" class="md-raised md-primary md-warn modal_save confirm" data-dismiss="modal" ng-click="ok(quizId)">Delete</md-button>
            </div>
        </div>
    </div>
</div>
