<div class="page quiz_library exam_type question_page">
    <section class="tile mfp-hide" fullscreen="isFullscreen01">
        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Quiz library - Subcategory</strong></h1>
            <span>{{education.name}} > {{subject.name}} > {{examType.name}}</span>
        </div>
        <!-- /tile header -->
        <div layout="row">
            <div class="col-xs-10  col-md-offset-1"> 
                <div class="add_education">
                    <div class="pull-left">
                        <span>Total: 122</span>
                    </div>
                    <a ng-click="back()" class="icon icon-default pull-right"><i class="fa fa-arrow-left"></i></a>
                    <a href="" class="icon icon-default pull-right" data-toggle="modal" data-target="#new_subject"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div layout="row" ng-if="errorenable">
            <div class="col-xs-10  col-md-offset-1 alert alert-warning">
              <strong>Warning!</strong> {{errorenablecat}}
            </div>
        </div>
        <div layout="row ">
            <div class="col-xs-10  col-md-offset-1 quiz_table" style="margin-top: 0px;">
                <md-whiteframe class="md-whiteframe-3dp">
                    <div class="table-responsive-vertical shadow-z-1">
                        <table id="table" class="table table-hover table-mc-light-blue">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Picture</th>
                                    <th>Name</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Active?</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(i, cat) in subcategory track by $index">
                                    <td data-title="score" class="hasRowSpan">
                                    </td>
                                    <td data-title="img"><img ng-src="{{cat.imageUrl}}" style="width: 32px; height: 32px;"></td>
                                    <td data-title="level">{{cat.name}}</td>
                                    <td data-title="edit"><a href="" class="icon icon-default transparent icon-ef-1 icon-ef-1b" ng-click="showSubCatEditModel(cat.id)"><i class="fa fa-pencil"></i></a></td>
                                    <td data-title="delete"><a href="" class="icon icon-default transparent icon-ef-1 icon-ef-1b delete" ng-click="showSubCatDeleteModel(cat.id)"><i class="fa fa-archive"></i></a></td>
                                    <td data-title="check">
                                        <md-checkbox ng-model="subcategory[i].active" aria-label="{{cat.id}}" ng-click="changeSubCatStatus(cat.id,cat.active,i)"></md-checkbox>
                                    </td>
                                    <td>
                                        <a ui-sref="app.question({eId:eId,qId:qId,eTid:eTid,sCid:cat.id})">View <i class="fa fa-arrow-right"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-whiteframe>
            </div>
        </div>
    </section>
    <div class="modal fade modal-ext" id="new_subject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <form name="catCreate">
                    <div class="modal-body">
                        <h1 class="custom-font"><strong>Create new Sub Category</strong></h1>
                        <p class="create_pluse">Fill in the name for the new sub category. Upload a picture and save it.</p>
                        <div class="file_upload">
                            <md-input-container class="md-block" flex-gt-sm>
                                <img ngf-src="subCatImage" class="thumb" style="width: 50px; height: 50px;">
                                <input type="file" ng-model="subCatImage" name="subCatImage" ngf-select required accept="image/png">
                                <md-button class="md-raised md-primary">Upload</md-button>
                                <div class="errors" ng-messages="catCreate.subCatImage.$error">
                                    <div ng-message="required">Image required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="subCatName" name="subCatName" placeholder="Create a new sub category" required>
                            <div class="errors" ng-messages="catCreate.subCatName.$error">
                                <div ng-message="required">Image required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-button type="button" class="md-raised md-warn modal_save pull-right" data-dismiss="modal">Cancel</md-button>
                    <md-button type="button" class="md-raised md-primary pull-right" data-dismiss="modal" ng-click="createSubCat()" ng-disabled="!(subCatImage && subCatName)" style="background: rgb(3, 175, 91);color: rgba(255, 255, 255, 0.87);">Save</md-button>
                </form>
            </div>
        </div>
        <!--/.Content-->
    </div>
    <script id="subCatEditModel.html" type="text/ng-template">
        <div class="modal-ext quiz_library" id="edit_subject">
            <div class="modal-main">
                <!--Content-->
                <div class="content-main">
                    <div class="modal-body">
                        <h1 class="custom-font"><strong>Subcategory</strong></h1>
                        <p class="create_pluse">Change the name or picture to the desired one and save it.</p>
                        <div class="file_upload">
                            <img ng-hide="subCatEditImage" ng-src="{{subCat.imageUrl}}" style="width: 50px; height: 50px;">
                            <img ngf-src="subCatEditImage" class="thumb" style="width: 50px; height: 50px;">
                            <input type="file" ng-model="subCatEditImage" name="subCatEditImage" ngf-select accept="image/png">
                            <md-button class="md-raised md-primary">Upload</md-button>
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input type="text" ng-model="subCat.name" ng-init="subCat.name"  name="subCatEditName" placeholder="Create a new sub category">
                        </md-input-container>
                    </div>
                    <md-button type="button" class="md-raised md-warn modal_save pull-right" data-dismiss="modal" ng-click="cancel()">Cancel</md-button>
                    <md-button type="button" class="md-raised md-primary modal_save pull-right" data-dismiss="modal" ng-click="updateSubCat(subCat.id)" style="background: rgb(3, 175, 91);color: rgba(255, 255, 255, 0.87);">Save</md-button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </script>
    <script id="subCatDeleteModel.html" type="text/ng-template">
        <div class="modal-ext quiz_library" id="edit_subject">
            <div class="modal-main">
                <!--Content-->
                <div class="content-main">
                    <div class="modal-body">
                        <h1 class="custom-font"><strong>Confirm that you want to delete this and all its content?</strong></h1>
                        <span>(This action can't be reversed)</span>
                    </div>
                    <div class="action_btn">
                        <md-button type="button" class="md-raised md-primary modal_save" data-dismiss="modal" ng-click="cancel()" style="background: rgb(3, 175, 91);color: rgba(255, 255, 255, 0.87);">Keep</md-button>
                        <md-button type="button" class="md-raised md-primary modal_save confirm md-warn" data-dismiss="modal" ng-click="ok(subCatId)">Delete</md-button>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </script>
</div>
