<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="font-family: 'Raleway', sans-serif;background: #eaeaea;padding: 30px;">
  <div style="">
  <div class="main" style="background: #FFFFFF; padding-bottom: 20px;border-radius: 25px;">
    <div class="header" style="background:#58cce9;padding: 30px;border-radius: 25px 25px 0 0;text-align: center;">
      <a href="http://www.easyae.dk"><img src="http://www.mullertech.dk/EZA/Easyawhitelogo.png"/></a>
    </div>
    <div class="breadtext" style="margin: 25px;text-align: justify;">
      <h1>Tusind tak!</h1>

      <p>Tak for din registrering. Klik på nedenstående link for at færdiggøre din registrering.</p>
      <a href="<%= verifyHref %>">Bekræft registrering</a>
    </div>
  </div>
  <footer>
    <div class="footer-social-icons">
      <center>
      <h2 class="_14" style="text-align:center;">Bliv en del af vores community</h2></center>
      <center>
      <ul style="list-style-type: none;text-align:center;display: block;-webkit-margin-before: 1em;  -webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;display: inline;" class="social-icons">
          <li style="display: inline;"><a href="https://www.facebook.com/easyae.dk/" class="social-icon" target="blank"> <img src="http://www.mullertech.dk/EZA/fb.png"/></a></li>
          <li style="display: inline;"><a href="https://www.instagram.com/easyae.dk/" class="social-icon" target="blank"> <img src="http://www.mullertech.dk/EZA/insta.png"/></a></li>
          <li style="display: inline;"><a href="https://www.youtube.com/channel/UCffEOkOiVqP1EbRnmqFHeHA" class="social-icon" target="blank"> <img src="http://www.mullertech.dk/EZA/yt.png"/></a></li>
          <li style="display: inline;"><a href="https://www.snapchat.com/add/easyae.dk" class="social-icon" target="blank"> <img src="http://www.mullertech.dk/EZA/snap.png"/></a></li>
          <li style="display: inline;"><a href="https://www.linkedin.com/company-beta/17955955/" class="social-icon" target="blank"> <img src="http://www.mullertech.dk/EZA/linkedin.png"/></a></li>
      </ul>
    </center>
  </div>
  </footer>
</div>
</body>
</html>