//base colors
$black: #000000;
$white: #ffffff;
$main-green: #83bc5c;
$main-red: #d43e4c;
$gray: #eaeaea;
$gray-light: #fdfdfd;
$gray-bg: #f6f6f6;
$primary: #58cce9;
$primary-dark: #1bb8df;
$yellow-orange: #f0e15d;
$red-orange: #eaa05e;
$gray-text: #7d7d7d;
$gray-text-dark: #4c4c4c;



//Screen break points


