<div id="choose_opponent">
    <div class="modal-main">
        <!-- Modal content-->
        <div class="content-main">
            <div class="modal-header">
                <h4 class="modal-title">Korrekt svar</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="popup_battle2">
                        <div class="answer_option">
                            <h3>Du svarede korrekt! Du har fået 10 point!</h3>
                        </div>
                        <div class="button_popup">
                            <div>
                                <button class="button_decline_battle2" ng-click="backToBootcamp()">Tilbage til Bootcamp</button>
                            </div>
                            <div>
                                <button class="button_accept_battle2" ng-click="nextQuestion()">Næste spørgsmål</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
