<div id="emailSent">
    <div class="modal-main">
        <!-- Modal content-->
        <div class="content-main">
            <div class="modal-header">
                <h4 class="modal-title">Gendan password</h4>
                <button type="button" ng-click="modalClose()" class="btn btn-line pull-right btn_close_pop">&times;</button>
            </div>
            <h4 class="sub_title_modal">Password email sendt.<br> 
Check din email.</h4>
            <br>
            <br>
        </div>
    </div>
</div>
