<div id="forgotPassword">
    <div class="modal-main">
        <!-- Modal content-->
        <div class="content-main">
            <div class="modal-header">
                <h4 class="modal-title">Gendan password</h4>
            </div>
            <form name="welcomeForm" class="modal-body ">
                <h3 class="sub_title_modal">Please enter your email address <br> to reset your password</h3>
                <div class="User-form">
                    <input type="email" class="form-control underline-input" placeholder="Email" ng-model="forgotEmail" required>
                    <div class="alert alert-danger error_msg_signup" ng-show="errEmailMsg">{{errEmailMsg}}</div>
                    </div>
                    
                <div class="frnt_select_footer">
                    <button class="btn btn-success" ng-click="sendEmail();">Send Reset password email</button>
                </div>
            </form>
        </div>
    </div>
</div>
