<div id="resetPassword">
    <div class="modal-main">
        <!-- Modal content-->
        <div class="content-main">
            <div class="modal-header">
                <h4 class="modal-title">Gendan password</h4>
            </div>
            <form name="resetForm" class="modal-body ">
                <h3 class="sub_title_modal">Please input a new password</h3>
                <div class="User-form">
                    <div class="row" ng-hide="password">
                        <div class="col-md-6">
                            <input type="password" id='pw1' name='pw1' class="form-control underline-input" placeholder="New Password" ng-model="newPassword" ng-required>

                        </div>
                        <div class="col-md-6">
                            <input type="password" id='pw2' name='pw2' class="form-control underline-input" placeholder="Confirm Password" ng-model="confirmation" ng-required pw-check='pw1'>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div class='msg-block' ng-show='resetForm.$error'>
                        <span class='errMsgPwd' ng-show='resetForm.pw2.$error.pwmatch'>
                            Passwords don't match.
                          </span>
                    </div>
                    <div class="alert alert-danger error_msg_signup" ng-show="errPwdMsg">{{errPwdMsg}}</div>
                        <div class="clearfix"></div>
                     <div class="alert alert-success error_msg_signup" ng-show="successPwdMatch">{{successPwdMatch}}</div>   
                        
                </div>
                <div class="frnt_select_footer">
                    <button class="btn btn-success" ng-click="checkFrPwd();" ng-disabled="resetForm.$invalid">Gendan password</button>
                </div>
            </form>
        </div>
    </div>
</div>
