<div id="choose_opponent">
    <div class="modal-main">
        <!-- Modal content-->
        <div class="content-main">
            <div class="modal-header">
                <h4 class="modal-title">Wrong Answer!</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="popup_battle2">
                        <div class="button_popup">
                            <div>
                                <button class="button_accept_battle2 btn_close_rematchAgain" ng-click="playAgain()">Back To Questions</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
