.Navbar {
    background-color: $primary;
    color: $white;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.35);
    &-logo {
        img {
            margin: 10px 0;
        }
    }
    &-nav {
        margin: 10px 0 10px 200px;
        li {
            display: inline-block;
            padding: 5px 20px;
            &.active,
            &:hover {
                background: $primary-dark;
                border-radius: 20px;
            }
            a {
                color: $white;
                margin: 10px 0;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
            }
            &.pull-right{
                font-size: 25px;
                padding: 0 10px;

            }
        }
    }
}